trackingDrivingData/mazmon_flow.json
[
    {
        "id": "0e97fd5de197106e",
        "type": "tab",
        "label": "マツモンGPS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b1064b72fb2aac35",
        "type": "sensor subscribe",
        "z": "0e97fd5de197106e",
        "sensor": "geolocation",
        "freq": 3000,
        "name": "GPSサブスクライブ",
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "08786f4bc4e2c4b9",
        "type": "inject",
        "z": "0e97fd5de197106e",
        "name": "初期処理",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b1064b72fb2aac35",
                "8571eaa7eabd7567"
            ]
        ]
    },
    {
        "id": "8571eaa7eabd7567",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "初期化",
        "rules": [
            {
                "t": "set",
                "p": "start_date",
                "pt": "flow",
                "to": "YYYY-MM-DD hh:mm:ss",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "car_id",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "40fd72125d009bfc"
            ]
        ]
    },
    {
        "id": "e98ef2827541641f",
        "type": "location",
        "z": "0e97fd5de197106e",
        "name": "",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "04fd037dfb5cade8"
            ]
        ]
    },
    {
        "id": "04fd037dfb5cade8",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "緯度経度セット",
        "rules": [
            {
                "t": "set",
                "p": "lat",
                "pt": "flow",
                "to": "payload.latitude",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "lon",
                "pt": "flow",
                "to": "payload.longitude",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 520,
        "wires": [
            [
                "d1a10e94cbaf19ed",
                "d4dbe81d74adf504",
                "333a29aaa5e800c8",
                "43650a1f5f7f5a6e"
            ]
        ]
    },
    {
        "id": "d1a10e94cbaf19ed",
        "type": "debug",
        "z": "0e97fd5de197106e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 520,
        "wires": []
    },
    {
        "id": "1054a07fb7e6df75",
        "type": "comment",
        "z": "0e97fd5de197106e",
        "name": "初期化",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "9621c691e8592058",
        "type": "http in",
        "z": "0e97fd5de197106e",
        "name": "スタート",
        "url": "/start",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "51e6b93764fac311"
            ]
        ]
    },
    {
        "id": "7c27542271a9b48a",
        "type": "http response",
        "z": "0e97fd5de197106e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "40fd72125d009bfc",
        "type": "ui_switch",
        "z": "0e97fd5de197106e",
        "name": "",
        "label": "送信",
        "tooltip": "",
        "group": "9a4c6933c1b20d7f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "a6ab5ccd4597aaf6"
            ]
        ]
    },
    {
        "id": "e931c0700ea8b6db",
        "type": "http in",
        "z": "0e97fd5de197106e",
        "name": "ストップ",
        "url": "/stop",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "d1beb1aa1d5c3a99"
            ]
        ]
    },
    {
        "id": "600a734e594c37cc",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "40fd72125d009bfc"
            ]
        ]
    },
    {
        "id": "6b6e52a1d91a2697",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "40fd72125d009bfc"
            ]
        ]
    },
    {
        "id": "a37a8d6f1d28ae90",
        "type": "debug",
        "z": "0e97fd5de197106e",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "a6ab5ccd4597aaf6",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "送信フラグ",
        "rules": [
            {
                "t": "set",
                "p": "send_flag",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "a37a8d6f1d28ae90"
            ]
        ]
    },
    {
        "id": "51e6b93764fac311",
        "type": "function",
        "z": "0e97fd5de197106e",
        "name": "スタート時刻",
        "func": "var start_date = flow.get(\"start_date\");\nif (start_date == \"YYYY-MM-DD hh:mm:ss\") {\n    var date = new Date();\n    var year = date.getFullYear();\n    var month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n    var day = (\"0\" + date.getDate()).slice(-2);\n    var hours = (\"0\" + date.getHours()).slice(-2);\n    var minutes = (\"0\" + date.getMinutes()).slice(-2);\n    var seconds = (\"0\" + date.getSeconds()).slice(-2);\n    start_date = year + \"-\" + month + \"-\" + day + \" \" + hours + \":\" + minutes + \":\" + seconds;\n    flow.set(\"start_date\", start_date);\n}\n\nflow.set(\"car_id\", msg.payload.id);\nmsg.payload = start_date;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "600a734e594c37cc",
                "8d9bef77fef65fce"
            ]
        ]
    },
    {
        "id": "8d9bef77fef65fce",
        "type": "template",
        "z": "0e97fd5de197106e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n \"start_date\" : \"{{payload}}\"\n}",
        "output": "json",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "7c27542271a9b48a"
            ]
        ]
    },
    {
        "id": "5cb6605c7852a7d8",
        "type": "inject",
        "z": "0e97fd5de197106e",
        "name": "定周期処理",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "af529d8b16dab889"
            ]
        ]
    },
    {
        "id": "a138c93564492fb4",
        "type": "function",
        "z": "0e97fd5de197106e",
        "name": "送信データ作成",
        "func": "var date = new Date();\nvar year = date.getFullYear();\nvar month = (\"0\" + (date.getMonth() + 1)).slice(-2);\nvar day = (\"0\" + date.getDate()).slice(-2);\nvar hours = (\"0\" + date.getHours()).slice(-2);\nvar minutes = (\"0\" + date.getMinutes()).slice(-2);\nvar seconds = (\"0\" + date.getSeconds()).slice(-2);\nvar send_date = year + \"-\" + month + \"-\" + day + \" \" + hours + \":\" + minutes + \":\" + seconds;\n\nvar data = {};\ndata[\"car_id\"] = flow.get(\"car_id\");\ndata[\"start_date\"] = flow.get(\"start_date\");\ndata[\"send_date\"] = send_date;\ndata[\"acquisition_date\"] = flow.get(\"acquisition_date\");\ndata[\"lat\"] = flow.get(\"lat\");\ndata[\"lon\"] = flow.get(\"lon\");\n\nflow.set(\"send_data\", data)\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 760,
        "wires": [
            [
                "aaa4c36c856f69a0"
            ]
        ]
    },
    {
        "id": "aaa4c36c856f69a0",
        "type": "http request",
        "z": "0e97fd5de197106e",
        "name": "UnifiedEndpoint",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://uni.soracom.io",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 280,
        "y": 820,
        "wires": [
            [
                "e05678a3cae0e14f",
                "62fedea1720bb42c",
                "67d0e80a0898c703",
                "f0dfcc64fe1ab69d",
                "b93e7b25fb9d1962"
            ]
        ]
    },
    {
        "id": "e05678a3cae0e14f",
        "type": "debug",
        "z": "0e97fd5de197106e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "6573df863dc7860d",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "9a4c6933c1b20d7f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "送信時刻",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e34d55e9db7addd3",
        "type": "http in",
        "z": "0e97fd5de197106e",
        "name": "リセット",
        "url": "/reset",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "e65636abe44326b1"
            ]
        ]
    },
    {
        "id": "af529d8b16dab889",
        "type": "switch",
        "z": "0e97fd5de197106e",
        "name": "送信フラグチェック",
        "property": "send_flag",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 760,
        "wires": [
            [
                "a138c93564492fb4"
            ]
        ]
    },
    {
        "id": "835aeda222e84b32",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "9a4c6933c1b20d7f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "緯度",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 880,
        "wires": []
    },
    {
        "id": "c4526a4886ec15ee",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "9a4c6933c1b20d7f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "経度",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 940,
        "wires": []
    },
    {
        "id": "62fedea1720bb42c",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "緯度セット",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "send_data.lat",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 880,
        "wires": [
            [
                "835aeda222e84b32"
            ]
        ]
    },
    {
        "id": "67d0e80a0898c703",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "経度セット",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "send_data.lon",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 940,
        "wires": [
            [
                "c4526a4886ec15ee"
            ]
        ]
    },
    {
        "id": "f0dfcc64fe1ab69d",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "時刻セット",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "send_data.send_date",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "6573df863dc7860d"
            ]
        ]
    },
    {
        "id": "ffe51774f4cf14ad",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "9a4c6933c1b20d7f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "開始時刻",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b93e7b25fb9d1962",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "時刻セット",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "send_data.start_date",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "ffe51774f4cf14ad"
            ]
        ]
    },
    {
        "id": "7b7ecae7a076ff96",
        "type": "comment",
        "z": "0e97fd5de197106e",
        "name": "Web操作",
        "info": "",
        "x": 80,
        "y": 200,
        "wires": []
    },
    {
        "id": "55eba10b5bf780cc",
        "type": "comment",
        "z": "0e97fd5de197106e",
        "name": "定周期処理",
        "info": "",
        "x": 80,
        "y": 720,
        "wires": []
    },
    {
        "id": "e65636abe44326b1",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "初期化",
        "rules": [
            {
                "t": "set",
                "p": "start_date",
                "pt": "flow",
                "to": "YYYY-MM-DD hh:mm:ss",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "car_id",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start_date",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 360,
        "wires": [
            [
                "6b6e52a1d91a2697",
                "8d9bef77fef65fce"
            ]
        ]
    },
    {
        "id": "d1beb1aa1d5c3a99",
        "type": "change",
        "z": "0e97fd5de197106e",
        "name": "スタート時刻",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start_date",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "6b6e52a1d91a2697",
                "8d9bef77fef65fce"
            ]
        ]
    },
    {
        "id": "d01484eebd28d787",
        "type": "sensor unsubscribe",
        "z": "0e97fd5de197106e",
        "sensor": "geolocation",
        "name": "",
        "x": 710,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bce9630b83ac4c72",
        "type": "inject",
        "z": "0e97fd5de197106e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 540,
        "y": 80,
        "wires": [
            [
                "d01484eebd28d787"
            ]
        ]
    },
    {
        "id": "39bd026bf053c961",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "7e93f11be075f84b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "取得",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4dbe81d74adf504",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "7e93f11be075f84b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "緯度",
        "format": "{{msg.payload.latitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "333a29aaa5e800c8",
        "type": "ui_text",
        "z": "0e97fd5de197106e",
        "group": "7e93f11be075f84b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "経度",
        "format": "{{msg.payload.longitude}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 490,
        "y": 700,
        "wires": []
    },
    {
        "id": "7f8985b7c3151089",
        "type": "comment",
        "z": "0e97fd5de197106e",
        "name": "位置情報取得",
        "info": "",
        "x": 90,
        "y": 480,
        "wires": []
    },
    {
        "id": "43650a1f5f7f5a6e",
        "type": "function",
        "z": "0e97fd5de197106e",
        "name": "取得時刻セット",
        "func": "var date = new Date(msg.payload.timestamp);\nvar year = date.getFullYear();\nvar month = (\"0\" + (date.getMonth() + 1)).slice(-2);\nvar day = (\"0\" + date.getDate()).slice(-2);\nvar hours = (\"0\" + date.getHours()).slice(-2);\nvar minutes = (\"0\" + date.getMinutes()).slice(-2);\nvar seconds = (\"0\" + date.getSeconds()).slice(-2);\nvar acquisition_date = year + \"-\" + month + \"-\" + day + \" \" + hours + \":\" + minutes + \":\" + seconds;\n\nflow.set(\"acquisition_date\", acquisition_date)\nmsg.payload = acquisition_date;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "39bd026bf053c961"
            ]
        ]
    },
    {
        "id": "9a4c6933c1b20d7f",
        "type": "ui_group",
        "name": "送信",
        "tab": "fc491fc74a979ad4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e93f11be075f84b",
        "type": "ui_group",
        "name": "位置情報",
        "tab": "fc491fc74a979ad4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc491fc74a979ad4",
        "type": "ui_tab",
        "name": "マツモン",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
